[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = git@github.com:PaulMullowney/sundials.git
	branch = thrust-rebased
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = git@github.com:PaulMullowney/amrex.git
	branch = rocShore-rebased
