[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = https://github.com/PaulMullowney/sundials.git
	branch = thrust
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/PaulMullowney/amrex.git
	branch = gpu_launch_min_blocks
