[submodule "Submodules/sundials"]
	path = Submodules/sundials
	url = https://github.com/PaulMullowney/sundials.git
	branch = thrust-rebased
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/PaulMullowney/amrex.git
	branch = lockhart_build
